<ul class="list-group">
    <a asp-controller="Employee" asp-action="Create" class="list-group-item">Kullanıcı Ekle</a>
    <a asp-controller="Home" asp-action="Create" class="list-group-item">İş Ekle</a>
</ul>