@model Sample
@{
    ViewData["Title"] = "Details";
}


<div class="row mt-3 justify-content-center">

    <div class="col-md-8 ">
        <div class="card">
            <div class="card-header">
                @Model.SampleId numaralı istek.
            </div>
            <div class="card-body">
                <form asp-controller="Home" asp-action="Details" method="post">
                    <input type="hidden" asp-for="SampleId" />
                    <div class="form-group">
                        <label>Çalışan:</label>
                        <input asp-for="EmployeeId" class="form-control" />
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Müşteri:</label>
                            <input asp-for="Customer" class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <label>İstek Tarihi:</label>
                            <input asp-for="RequestDate" class="form-control" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label>Durumu:</label>
                            <input asp-for="SampleState" class="form-control" />
                        </div>
                        <div class="form-group col-md-5">
                            <label>Tipi:</label>
                            <input asp-for="SampleType" class="form-control" />
                        </div>
                        <div class="form-group col-md-2">
                            <label>Beden:</label>
                            <input asp-for="Size" class="form-control" />
                        </div>
                    </div>

                        <button type="submit" class="btn btn-warning">Güncelle</button>
                </form>
            </div>
        </div>
    </div>
</div>

