
@{
    ViewData["Title"] = "Gantt";
}

<div class="form-group col-md-4">
    <label>Çalışan:</label>
    <div class="form-inline">
        <select asp-items="@ViewBag.Employees" class="form-control w-75" id="myselect">
            <option selected disabled>Seçiniz</option>
        </select>
        <a asp-action="Create" asp-controller="Employee" class="fas fa-user-plus ml-3"></a>
    </div>

</div>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $('select').on('change', function () {
            var id = this.value;
            console.log(id);

            $.getJSON('../api/Sample/GetEmployeeGantt/'+id, function (dataInitial) {
               
                

                    google.charts.load('current', { 'packages': ['gantt'] });
                    google.charts.setOnLoadCallback(drawChart);

                    function drawChart() {

                        var data = new google.visualization.DataTable();
                        data.addColumn('string', 'Task ID');
                        data.addColumn('string', 'Task Name');
                        data.addColumn('string', 'Resource');
                        data.addColumn('date', 'Start Date');
                        data.addColumn('date', 'End Date');
                        data.addColumn('number', 'Duration');
                        data.addColumn('number', 'Percent Complete');
                        data.addColumn('string', 'Dependencies');

                        console.log(dataInitial[0]);

                        for (i = 0; i < dataInitial.length; i++) {
                            data.addRows([[dataInitial[i].taskId, dataInitial[i].taskName, dataInitial[i].resource, new Date(dataInitial[i].startDate), new Date(dataInitial[i].endDate), null, 100, null]]);
                        }


                        //data.addRows([['2014Spring', dataInitial[0].taskName, 'spring', new Date(2014,8,25), new Date(2014, 9, 25), null, 100, null]]);
                        //data.addRows([['2015Spring', 'Spring 2015', 'spring', new Date(2014, 8, 22), new Date(2014, 9, 20), null, 100, null]]);
                        //data.addRows([['2016Spring', 'Spring 2015', 'spring', new Date(2014, 8, 22), new Date(2014, 9, 20), null, 100, null]]);

                        var options = {
                            height: 400,
                            gantt: {
                                trackHeight: 30
                            }
                        };

                        var chart = new google.visualization.Gantt(document.getElementById('chart_div'));

                        chart.draw(data, options);
                    }


                });


            });
        });


</script>

<div id="chart_div"></div>


