
@{
    ViewData["Title"] = "Index";
}

<script src="modules/chart.js/dist/Chart.js"></script>

<div class="container mt-3">
    <div class="row">
        <div class="col-6">

            <div class="card">
                <div class="card-header">
                    İşler
                </div>
                <div class="card-body">
                    <h5 class="card-title">Devam Eden İşler</h5>
                    <canvas id="myChart" width="10" height="10"></canvas>
                    <a href="#" class="btn btn-primary">Detaylar</a>
                </div>
            </div>

        </div>
        <div class="col-6">

            <div class="card">
                <div class="card-header">
                    Başka Bir
                </div>
                <div class="card-body">
                    <h5 class="card-title">İstatistik</h5>
                    <canvas id="myChart2" width="10" height="10"></canvas>
                    <a href="#" class="btn btn-primary">Detaylar</a>
                </div>
            </div>

        </div>
    </div>
</div>


<script>

    $(document).ready(function () {

    $.getJSON('api/Sample/GetEmployeeStatics', function (data) {
    var i;
    var employees = [];
    var openIssues = [];

    for(i=0; i<data.length; i++){
        employees.push(data[i].employeeName);
        openIssues.push(data[i].openIssues);
    }
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: employees,
                    datasets: [{
                        label: '#Sayı',
                        data: openIssues,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });


     $.getJSON('api/Sample/GetSamplesStatics', function (data) {
            var ctx2 = document.getElementById('myChart2').getContext('2d');
            var myChart = new Chart(ctx2, {
                type: 'pie',
                data: {
                    labels: ['Yeni', 'Tamamlanmış'],
                    datasets: [{
                        label: 'Yüzde %',
                        data: [data.openSampleCount, data.closedSampleCount],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

        });
     });
    });
</script>